body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  
 
}
.main {
  flex: 1;
}

.logo{
  width: 200px;
}


.tile-image {
    float: left;
    height: 200px;
    margin-right: 50px;

}

/* .grid-container{
  display: flex;
} */


.creative{
  color: midnightblue
}


h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.card {
  width: 40%;
}


.card-title{
  display: inline;
}

.tile-image{
  display: block;
  margin-bottom: 8px;
  
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
}


@media (max-width: 680px){
  .logo{
    width: 100px;
  }

  h1{
    font-size: 2.5rem;
    text-align: center;
  }

  .card{
    display: block;
    width: 100%;
    text-align: justify;
  }

  .card img{
    width: 100%;
    margin-bottom: 10px;
    display: inline;
    object-fit: cover;
  }
  .logo{
    width: 100px;
    display: block;
    margin: auto;
  }

  .card-title{
    display:block;
    text-align: center;
  }

  footer{
    
    text-align: center;
  }
}
